<!--
 * Title: home.component.html
 * Author: Jennifer Hoitenga
 * Date: September 13, 2023
 * Sources Used:
 * Angular Tutorial for Beginners: Layout Pages video by Professor Krasso (https://www.youtube.com/watch?v=9AsogopS9YM)
 */
-->

<!-- Start of a flexible row layout -->
<div fxLayout="row wrap" fxLayoutGap="20px">
  <!-- Left column for grade entry form -->
  <div class="grade-form" fxFlex>
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Grade Entry</mat-card-title>

      <!-- Grade entry form -->
      <mat-card-content>
        <form
          fxLayout="column"
          fxLayoutGap="16px"
          [formGroup]="transcriptForm"
          (ngSubmit)="onSubmit($event); transcriptForm.reset()"
        >
          <!-- Course input field -->
          <mat-form-field fxFlex appearance="fill">
            <mat-label>Course</mat-label>
            <input
              type="text"
              required
              name="txtCourse"
              id="txtCourse"
              matInput
              formControlName="course"
            />
          </mat-form-field>

          <!-- Grade selection dropdown -->
          <mat-form-field fxFlex appearance="fill">
            <mat-label>Grade</mat-label>
            <mat-select formControlName="grade" required name="selectGrade">
              <mat-option
                *ngFor="let grade of selectableGrades"
                [value]="grade"
              >
                {{ grade }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Save button -->
          <button
            type="submit"
            [disabled]="!transcriptForm.valid"
            mat-raised-button
            color="primary"
          >
            Save
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Transcript summary card -->
  <div class="grade-summary" fxFlex>
    <button mat-button color="primary" (click)="clearEntries()">
      Clear Transcript
    </button>
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Transcript</mat-card-title>
      <mat-card-content>
        <!-- Display transcript entries -->
        <app-grade-summary
          *ngFor="let entry of transcriptEntries"
          [course]="entry.course"
          [grade]="entry.grade"
        ></app-grade-summary>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br />

<!-- GPA calculation section -->
<div fxLayout="column" fxLayoutGap="20px">
  <div fxFlex class="gpa">
    <!-- Button to trigger GPA calculation -->
    <button mat-button color="primary" (click)="calculateResults()">
      Calculate GPA
    </button>

    <mat-card class="mat-elevation-z8">
      <mat-card-title style="text-align: center">
        GPA: <app-gpa [gpaTotal]="gpaTotal"></app-gpa>
      </mat-card-title>
    </mat-card>
  </div>
</div>
